@import url('http://fonts.cdnfonts.com/css/general-sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    user-select: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
    border: 3px solid transparent;
    transition: .2s;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
    background-clip: padding-box;
}

body {
    font-family: 'General Sans', sans-serif;
    background: #121212;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.circle {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

#container h1 {
    font-size: 50px;
    font-weight: 500;
    animation: fade-in .2s;
}

#container h1 span {
    font-size: 30px;
    font-weight: 400;
}

.metronome {
    position: absolute;
    width: 50px;
    height: 8px;
    border: 1px solid white;
    border-radius: 5px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: fade-in .2s;
}

.loading {
    font-size: 30px;
    letter-spacing: 10px;
}

.loading span {
    opacity: 0;
}

.tile {
    position: absolute;
    width: 50px;
    height: 8px;
    background: white;
    border-radius: 5px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .2;
}

.hint {
    letter-spacing: 0;
    animation: spacing .3s;
}
@keyframes spacing {
    0% {
        opacity: 0;
        letter-spacing: 5px;
    }
}

.summary {
    position: absolute;
    background: #121212;
    border: 2px solid #555;
    border-radius: 10px;
    width: 250px;
    max-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: overlay;
    overflow-x: hidden;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    transition: all .2s linear;
}

.summary .click {
    pointer-events: none;
    color: white;
    width: 100%;
    padding: 5px 0;
}

.summary .interval {
    width: 100%;
    pointer-events: none;
    position: relative;
    padding: 5px;
    color: rgb(247, 199, 199);
}